<div id="group_stage" class="container">
	<% @groups.each do |letter, group| %>
		<div class="col-md-6">
		<h3>Group <%= letter %></h3>
		<table id="group_<%=letter%>_league" class="table">
			<tr><th></th><th>P</th><th>W</th><th>D</th><th>L</th><th>F</th><th>A</th><th>Pts</th></tr>
			<% group[:teams].each do |team| %>
				<% 	if team.has_qualified? then
						qualifyclass = 'success'
					else
						team.can_qualify? ? qualifyclass = 'info' : qualifyclass = 'danger' 
					end %>
				<tr class='<%=qualifyclass%>'>
					<td><%= team.name %> [<%=team.person.present? ? team.person.name : 'Nobody' %>]</td>
					<td><%= team.list_matches(true, 'G').count %></td>
					<td><%= team.list_results('w', 'G').count %></td>
					<td><%= team.list_results('d', 'G').count %></td>
					<td><%= team.list_results('l', 'G').count %></td>
					<td><%= team.ggoals('f')%></td>
					<td><%= team.ggoals('a')%></td>
					<td id="<%=team.name%>-points"><%=team.gpoints%></td>
				</tr>
			<% end %>
		</table>
		<table id="group_<%=letter%>_matches" class="table table-striped">
		<% unless group[:matches].blank? %>
		<% group[:matches].each do |match| %>
			<tr>
				<td class="text-center"><%=match.date.strftime('%a %e %b %k:%M')%></td>
				<td class="text-right"><%=Team.find(match.team1).name%></td>
				<% if match.team1_goals.present? and match.team2_goals.present? %>
					<td class="text-center"><%= "#{match.team1_goals} - #{match.team2_goals}" %></td>
				<% else %>
					<td class="text-center">v</td>
				<% end %>
				<td class="text-left"><%=Team.find(match.team2).name%></td>
			</tr>
		<% end %>
		<% end %>
		</table>
	</div>
	<% end %>
</div>